/* Chromium & Edge */

/* This styles the background of the scrollbar track */
::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #11111125; /* color of the tracking area */
  }
  
  /* This styles the draggable scrolling handle */
  ::-webkit-scrollbar-thumb {
    background: #737373; /* color of the scroll thumb */
    border-radius: 0px; /* roundness of the scroll thumb */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #303030; /* color of the scroll thumb on hover */
  }
  

/* Firefox */
html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #11111125 #999999; /* thumb and track color */
}